@keyframes slideUp {
	0% {
		transform: translateY(100%);
	}
	65%{
		transform: translateY(4%);
	}
	95%{
		transform: translateY(2%);
	}
	100% {
		transform: translateY(0%);
	}
}

@-webkit-keyframes slideUp {
  0% {
		transform: translateY(100%);
	}
	65%{
		transform: translateY(4%);
	}
	95%{
		transform: translateY(2%);
	}
	100% {
		transform: translateY(0%);
	}
}
