doctype html
html
  head
    title #{title}
    script(src="/js/styles.js")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel="icon" type="image/x-icon" href="/img/favicon.ico")
  body
    main.container
      section.container__heading AaronK
      section.container__bio
        | Hi, my name is Aaron and I am a Software Engineer at #[a(href="https://moo.com") MOO]!
        | I also do freelance development, you can poke around at the projects that I have worked on
        | or contact me using the relevant buttons below.
      section.container__social-links
        .social-link
          a(href="https://linkedin.com/in/aarongkendall" target="_blank")
            img.social-icon(src="/img/linkedin.svg")
          p.social-icon-text LinkedIn
        .social-link
          a(href="mailto:hello@aaronk.co")
            img.social-icon(src="/img/email.svg")
          p.social-icon-text Email
        .social-link
          a(href="https://github.com/aaronkendall" target="_blank")
            img.social-icon(src="/img/github.svg")
          p.social-icon-text GitHub
